.jumbotronText{
    font-size: 8rem;
    font-weight: 900;
    display: flex;
}
@media only screen and (max-width: 1105px){
    .jumbotronText{
        font-size: 7rem;
        font-weight: 900;
    }
}
@media only screen and (max-width: 968px){
    .jumbotronText{
        font-size: 6rem;
        font-weight: 800;
    }
}
@media only screen and (max-width: 830px){
    .jumbotronText{
        font-size: 5rem;
        font-weight: 800;
    }
}
@media only screen and (max-width: 696px){
    .jumbotronText{
        font-size: 4rem;
        font-weight: 800;
    }
}
@media only screen and (max-width: 560px){
    .jumbotronText{
        display: contents;
    }
    .staticText{
        margin: -40px;
    }
}